{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <title>Calculator</title>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    
</head>

<body>

    <div class="calculator">
        <div class="screen" id="screen"> </div>
        <div class="buttons">
            <button onclick="clearScreen()">AC</button>
            <button onclick="appendToScreen('/')">&#247;</button>
            <button onclick="appendToScreen('%')">&#37;</button>
            <button onclick="appendToScreen('+')">+</button>
            <button onclick="appendToScreen('-')">-</button>
            <button onclick="appendToScreen('*')">x</button>
            <button onclick="appendToScreen('7')">7</button>
            <button onclick="appendToScreen('8')">8</button>
            <button onclick="appendToScreen('9')">9</button>
            <button onclick="appendToScreen('4')">4</button>
            <button onclick="appendToScreen('5')">5</button>
            <button onclick="appendToScreen('6')">6</button>
            <button onclick="appendToScreen('1')">1</button>
            <button onclick="appendToScreen('2')">2</button>
            <button onclick="appendToScreen('3')">3</button>
            <button onclick="appendToScreen('0')">0</button>
            <button onclick="appendToScreen('.')">.</button>
            
            <!-- Add more buttons as needed -->
            <button onclick="calculate()">=</button>
            <button onclick="clearScreen()">C</button>
            <button onclick="backspace()">&#9003;</button>
        </div>
    </div>

    <script src="{% static '/js/script.js' %}"></script>
   
</body>
</html>
